{% extends "layout.html" %}

{% block body %}
    <h1>Tilastoja</h1>
    <hr>
    {% if kaappisisalto is defined %}
        {% if not kaappisisalto %}
            <p><i>Kaikki kaapit ovat tyhjiä :(</i></p>
        {% else %}
            <h4>Kaappien sisältö</h4>
            <table class="table">
            <tr>
                <th>Kaappi</th>
                <th>Elintarvikkeita kaapissa</th>
            </tr>
                {% for k in kaappisisalto %}
                    <tr>
                    <td>{{ k.kaappi }}</td>
                    <td>{{ k.el }} kpl</td>
                </tr>
                {% endfor %}
            </table>

        {% endif %}
    {% endif %}

    <hr>

    {% if maarat_tyypeittain is defined %}
        <h4>Elintarviketyyppien määrä kaapeissa</h4>
        <table class="table">
            <tr>
                <th>Elintarviketyyppi</th>
                <th>Määrä kaapeissa</th>
            </tr>
            {% for m in maarat_tyypeittain %}
                <tr>
                    <td>{{ m.elintarviketyyppi }}</td>
                    <td>{{ m.maara }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <hr>
    <p>Tyhjiä kaappeja: {{ tyhjat }} kpl</p>
{% endblock %}


