{% extends "layout.html" %}

{% block body %}
    <h1>Elintarvikkeet kaapeissa</h1>
    <hr>

    <p><a href="{{ url_for('ek_lisays') }}">Lisää elintarvike kaappiin</a></p>
    <table class="table">
        <tr>
            <th>Elintarvike</th>
            <th>Kaappi</th>
            <th>Taso</th>
            <th>Määrä</th>
            <th>Laitettu kaappiin</th>
            <th>Poista</th>
        </tr>
        {% for e in ek %}
            <tr>
                <td>{{ elin.query.get(e.elintarvike_id).nimi }}</td>
                <td>{{ kaap.query.get(e.kaappi_id).nimi }}</td>
                <td>{{ e.taso }}</td>
                <td>{{ e.maara }}</td>
                <td>{{ e.laitettu_kaappiin.day }}.{{ e.laitettu_kaappiin.month }}.{{ e.laitettu_kaappiin.year }}</td>
                <td>
                    <form method="POST" action="{{ url_for('ek_poistaja', ek_id=e.id) }}">
                        <input type="submit" class="btn btn-primary" value="Poista"/>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
