{% extends "layout.html" %}

{% block body %}
<h2>Elintarvikkeet kaapeissa</h2>
<li><a href="{{ url_for('ek_lisays') }}">Lisää elintarvike kaappiin</a></li>
<table>
    <tr>
        <th>Elintarvike</th>
        <th>Kaappi</th>
        <th>Taso</th>
        <th>Määrä</th>
    </tr>
    {% for e in ek %}
    <tr>
        <td>{{ elin.query.get(e.elintarvike_id).nimi }}</td>
        <td>{{ kaap.query.get(e.kaappi_id).nimi }}</td>
        <td>{{ e.taso }}</td>
        <td>{{ e.maara }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
