{% extends "layout.html" %}

{% block body %}
{{ error }}
<form method="POST" action="{{ url_for('kirjautuminen') }}">
    <h2>Kirjaudu sisään</h2>
    <table>
        <tr>
            <td>
                {{ form.tunnus.label }}
            </td>
            <td>
                {{ form.tunnus }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.salasana.label }}
            </td>
            <td>
                {{ form.salasana }}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Kirjaudu sisään"/>
            </td>
        </tr>
    </table>
</form>
{% endblock %}