{% extends "layout.html" %}

{% block body %}
    {{ error }}
    <form method="POST" action="{{ url_for('kirjautuminen') }}">
        <h1>Kirjaudu sisään</h1>
        <hr>

        <div class="form-group">
            <label for="tunnus">{{ form.tunnus.label }}</label>
            {{ form.tunnus(class="form-control") }}
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">{{ form.salasana.label }}</label>
            {{ form.salasana(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Kirjaudu sisään</button>
    </form>
    <hr>
    <p>Eikö sinulla ole vielä käyttäjätunnusta? <a href="{{ url_for("kayttajan_luonti") }}">Luo uusi käyttäjä</a></p>
{% endblock %}