{% extends "layout.html" %}

{% block body %}
<table>
    <tr>
        <th>Elintarvike</th>
        <th>Säilyvyys päivinä</th>
        <th>Päivitä säilyvyys</th>
        <th>Poista</th>
    </tr>
    {% for elintarvike in elintarvikkeet %}
    <tr>
        <td>{{ elintarvike.nimi }}</td>
        <td>{{ elintarvike.sailyvyys }}</td>
        <td>
            <form method="POST" action="{{ url_for('elintarvike_paivitys', elintarvike_id=elintarvike.id) }}">
                <input type="text" name="uusi"/>
                <input type="submit" value="Päivitä säilyvyys"/>
            </form>
        </td>
        <td>
            <form method="POST" action="{{ url_for('elintarvike_poisto', elintarvike_id=elintarvike.id) }}">
                <input type="submit" value="Poista"/>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
