{% extends "layout.html" %}

{% block body %}
    <h1>Lisää uusi kaappi</h1>
    <hr>

    <form method="POST" action="{{ url_for('kaappi_lisaaja') }}">
        <div class="form-group">
            <label for="nimi">{{ form.nimi.label }}</label>

            {{ form.nimi(class="form-control") }}

            <ul>
                {% for error in form.nimi.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        <button type="submit" class="btn btn-primary">Lisää kaappi</button>
    </form>
{% endblock %}
