{% extends "layout.html" %}

{% block body %}
    <h1>Kaapit</h1>
    <hr>

    <p><a href="{{ url_for('kaappi_lisays') }}">Lisää kaappi</a></p>
    <table class="table">
    <tr>
        <th>Kaappi</th>
        <th>Poista</th>
    </tr>
    {% for kaappi in kaapit %}
    <tr>
        <td>{{ kaappi.nimi }}</td>
        <td>
            <form method="POST" action="{{ url_for('kaappi_poisto', kaappi_id=kaappi.id) }}">
                <input type="submit" class="btn btn-primary" value="Poista"/>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
